@import "tailwindcss";

/* Borrar flechas del input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Zalando Sans Expanded", sans-serif;
}

.main-font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.noise-black {
  background-color: #000000cc;
  background-image: url("/images/noise.png");
}

.noise-red {
  background-color: #3a0101f3;
  background-image: url("/images/noise.png");
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}